@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600,700);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #17a2b8;
}

.active .text {
   display: none;
}

.text,
.key-code,
.key-name {
   font-size: 45px;
   color: #17a2b8;
   font-weight: 500;
}

.text {
   text-align: center;
   font-size: 30px;
}

.box {
   width: 290px;
   padding: 25px;
   border-radius: 15px;
   background-color: #fff;
}

.content,
.key-code,
.details {
   display: flex;
   align-items: center;
   justify-content: center;
}

.active .content {
   display: flex;
}

.content {
   display: none;
   flex-direction: column;
}

.key-code {
   height: 110px;
   width: 110px;
   border: 5px solid #17a2b8;
   border-radius: 50%;
   margin-bottom: 15px;
}

.details {
   width: 100%;
   margin-top: 15px;
   justify-content: space-evenly;
}

.details p {
   width: 100%;
   font-size: 18px;
   text-align: center;
}

.details p:last-child {
   border-left: 1px solid #17a2b8;
}

.key span,
.code span {
   font-size: 24px;
   font-weight: 500;
}